.sidebar-item {
	margin: 60px auto;
}

.sidebar-item a:hover {
	color: teal;
}

@media only screen and (max-width: 1024px){
	.sidebar-item {
		margin: 20px auto;
	}
	.meetups-list th:nth-child(2), .meetups-list td:nth-child(2), .meetups-list th:nth-child(4), .meetups-list td:nth-child(4)  {
		display: block;
	}

	@media only screen and (max-width: 992px) {
		.search form input[type="search"] {
			width: 29%;
			font-size: 15px;
		}

		.search .form-control {
			margin: 10px auto;
			padding: 4px 10px;
		}

	}
}