body{
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: hsl(200, 16%, 16%);
	background-color: #f6f7f8;
}
nav {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
}

ul {
	list-style: none;
}

h2{
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
	color: teal;	
	font-weight: 400;
}
p {
	margin: 0;
}
article {
	padding: 10px 20px 20px 20px;
}

.container {
	max-width: 800px;
	margin: 20px auto; 
} 

.container-fluid {
	width: 100%;
}

.br-5{
	border-radius: 5px;
}

.shadow {
	border-radius: 3px;
	box-shadow: 6px 1px 35px rgba(0,0,0,0.18);
}

/* Navbar */
.nav-links {
	width: 200px;
	margin: 20px 20px;
}
.nav-links > ul{
	display: flex;
	justify-content: space-evenly;
}


/* Form specific */
.form {
	max-width: 100%;
	border-top: 8px solid teal;
	border-radius: 8px;
	padding: 20px;
	background: ghostwhite;
}

#registration-form, #login-form {
	width: 480px;
}

#question-form textarea{
	min-height: 100px;
}

#question-form button{
	width: 100px;
}

#registration-form {
	margin: 5px auto;
}

#login-form {
	margin: 70px auto;
}
.form-group {
	margin-bottom: 10px;
}

.form-control {
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 5px;	
	border: 1px solid teal;
	box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
	width: 100%;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
}
.form-header,.form-footer {
	font-weight: bold;
}
.form-header {
	font-size: 20px;
}
.form-footer {
	display: block;
	margin: 5px auto;
	padding: 20px 0;
	font-size: 18px;
}
.form-footer a {
	text-decoration: dashed;
	color: black;
}

.form-footer a:hover {
	text-decoration: underline;
}

.form-footer > span {
	font-weight: normal;
}

/* Buttons */
.btn-primary {
	cursor: pointer;
	background: teal;
	color: white;
	font-size: 18px;
	border-radius: 5px;
}

.page-title {
	text-align: left;
	color: black;
	padding-left:35px;
}

/* Meetups */
.meetup-wrapper {
 max-width: 1500px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.meetup-header {
	max-width: 100%;
	background: white;
	padding: 18px 20px;
	margin-bottom: 40px;
}

.single-meetup {
	text-align: left;
}

.meetup-image {
	width: 376px;
	height: 220px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.meetup-body {
	width: 900px;
	margin: 10px auto;
}

.meetup-description,.meetup-stats {
	background: white;
}

.meetup-image {
	height: 250px;
	width: 500px;
	display: inline-block;
}

.meetup-stats {
	padding: 10px 30px;
	display: inline-block;
	height: 120px;
	margin:auto;
}

.meetup-title {
	font-weight: bold;
	font-size: 25px;
	margin: 2px 20px 20px 20px;
}

/* Utility Classes */
.mt-1 {
	margin-top: 10px;
}

.mt-2{
	margin-top: 20px;
}

.mt-5{
	margin-top: 50px;
}

.flex{
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-column {
	flex-direction: column;
}
.space-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}

.bg-black {
	background: hsl(200, 16%, 16%);
}

.bg-white {
	background: black;
}

.text-black {
	color: black;
}


.cover-no-repeat {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}



.wrapper {
	display: flex;
	justify-content: space-between;
	justify-self: center;
}

.p-1 {
	padding: 10px;
}

.question {
	margin: 20px auto;
	padding: 5px;
}
.questions-body {
	background: white;
}

.question-stats {
	width: 150px;
}

.question-stats > p:hover {
	color: teal;
	cursor: pointer;
	font-weight: 350;
}
.question-comments {
	margin: 10px 0 10px 50px;
	border-left: 1px solid teal;
}

.organizer {
	display: flex;
}

.wrapper {
	display: flex;
}
#gdg {
	background: url('/assets/images/gdg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#vue{
	background: url('/assets/images/meetup-logo.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#laravel {
	background: url('/assets/images/laravel.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#mocha {
	background: url('/assets/images/mocha.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#forloop {
	background: url('/assets/images/forloop.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.text-light{
	font-weight: lighter;
}

.text-heavy{
	font-weight: bold;
}

i{
 margin-right: 5px; 
 color:teal;
}

.meetup {
	border-radius: 5px;
	width: 375px;
	margin: 30px;
}

.meetup:hover {
	cursor: pointer;
	transition-duration: .6s;
	transition-property: margin-top;
	margin-top: 27px;
}

.view-more{
	margin: 40px auto;
}

.view-more div{
	padding: 10px;
	width: 200px;
	margin: 10px auto;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 5px 15px;
	border: 1px solid teal;
}

.avatar > p {
	text-align: center;
	color: white;
	font-size: 20px;
	padding: 12px;
}

/* Media Queries */
@media only screen and (max-width: 900px){
	.container, #registration-form, #login-form {
		max-width: 100%;
		margin-top: 50px;
		height: 100%;
	}
}