body{
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: hsl(200, 16%, 16%);
	background-color: #f6f7f8;
}
nav {
	display: flex;
	justify-content: space-between;
	margin: 5px auto;
	background: teal;
}

ul {
	list-style: none;
}

h2,h3{
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
	font-weight: 400;
}
p {
	margin: 0;
}
article {
	padding: 10px 20px 20px 20px;
}
textarea {
	min-width: 100%;
	max-width: 100%;
}
table {
	width: 100%;
}

.container {
	max-width: 900px;
	margin: 20px auto; 
} 

.container-fluid {
	width: 100%;
}

.br-5{
	border-radius: 5px;
}

.shadow {
	border-radius: 3px;
	box-shadow: 6px 1px 35px rgba(0,0,0,0.18);
}

.card {
	border-radius: 3px;
	box-shadow: 6px 1px 35px rgba(0,0,0,0.18);
	background: white;
}

/* Navbar */
.nav-links {
	width: 200px;
	margin: 2px 20px;
}
.nav-links > ul{
	display: flex;
	justify-content: space-evenly;
}
nav h3, nav a, nav h2 {
	color: white;
}

/* Form specific */
.form {
	max-width: 100%;
	border-top: 8px solid teal;
	border-radius: 8px;
	padding: 20px;
	background: ghostwhite;
}

#registration-form, #login-form {
	width: 480px;
}

#question-form textarea, #comment-form textarea{
	min-height: 100px;
	max-width: 700px;
	margin: 10px auto;
	min-width: 400px;
}

#question-form button, #comment-form button{
	width: 100px;
}

.new-comment {
	margin: 5px 125px;
}

.new-question {
	margin: 40px;
}

#registration-form {
	margin: 5px auto;
}

#login-form {
	margin: 70px auto;
}
.form-group {
	margin-bottom: 10px;
}

.form-control {
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 5px;	
	border: 1px solid teal;
	box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
	width: 100%;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
}
.form-header,.form-footer {
	font-weight: bold;
}
.form-header {
	font-size: 20px;
}
.form-footer {
	display: block;
	margin: 5px auto;
	padding: 20px 0;
	font-size: 18px;
}
.form-footer a {
	text-decoration: dashed;
	color: black;
}

.form-footer a:hover {
	text-decoration: underline;
}

.form-footer > span {
	font-weight: normal;
}

/* Buttons */
.btn-primary {
	cursor: pointer;
	background: teal;
	color: white;
	font-size: 18px;
	border-radius: 5px;
}

.page-title {
	text-align: left;
	color: black;
	padding-left:35px;
}

/* Meetups */
.meetup-wrapper {
 max-width: 1500px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.meetup-header {
	max-width: 100%;
	background: white;
	padding: 18px 20px;
	margin-bottom: 40px;
}

.single-meetup {
	text-align: left;
}

.single-meetup-image {
	width: 500px;
	height: 220px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}

.meetup-image {
	width: 376px;
	height: 220px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.meetup-body {
	width: 900px;
	margin: 10px auto;
}

.meetup-description,.meetup-stats {
	background: white;
}

.meetup-stats {
	padding: 10px 30px;
	display: inline-block;
	height: 120px;
	margin:auto;
}

.meetup-title {
	font-weight: bold;
	font-size: 25px;
	margin: 20px;
}

.meetup-date, .meetup-location {
	margin: 20px;
}


.meetups-list {
	height: max-content;
}

.meetups-list td {
	height: 40px;
	width: 220px;
}

.meetups-list tr {
	padding: 20px auto;
}

.meetups-list tr:hover {
	font-weight: 600;
}

form input[type="search"] {
	width: 20%;
}


/* Utility Classes */
.m-0 {
	margin: 0;
}

.m-4 {
	margin: 4em;
}

.ml-20 {
	margin-left: 20px;
}

.p-0 {
	padding: 0;
}

.p-5 {
	padding: 5px;
}

.p-10 {
	padding: 10px;
}

.p-20 {
	padding: 20px;
}

.p-25 {
	padding: 25px;
}

.p-30 {
	padding: 30px;
}

.mw-10 {
	max-width: 1000px;
}

.mw-5 {
	max-width: 500px;
}

.mt-05 {
	margin-top: 5px;
}

.mt-1 {
	margin-top: 10px;
}

.mt-2{
	margin-top: 20px;
}

.mt-5{
	margin-top: 50px;
}

.m-20 {
	margin: 20px auto;
}

.p-1 {
	padding: 10px;
}

.pb-2 {
	padding-bottom: 20px;
}

.p-15 {
	padding: 15px;
}

.flex{
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-column {
	flex-direction: column;
}
.space-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}

.bg-black {
	background: hsl(200, 6%, 67%);
}

.bg-white {
	background: white;
}

.text-black {
	color: black;
}

.text-white {
	color: white;
}

.text-left {
	text-align: left;
}

.text-small {
	font-size: small;
}

.fs-20 {
	font-size: 20px;
}

.text-center {
	text-align: center;
}

.bg-warning {
	background: orange;
}

.bg-primary {
	background: teal;
}

.br-20 {
	border-radius: 20px;
}

.br-10 {
	border-radius: 10px;
}

.bg-danger {
	background: red;
}

.text-warning {
	color: orange;
}

.text-danger {
	color: red;
}

.text-primary {
	color: teal;
}

.cover-no-repeat {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* .dislike:hover, .dislike > i:hover {
	color: red;
} */


.wrapper {
	display: flex;
	justify-content: space-between;
	justify-self: center;
}


.question {
	margin: 20px auto;
	padding: 5px;
}

.questions-body {
	background: white;
}

.question-stats {
	width: 150px;
}

.question-feed {
	max-width: 550px;
}

.question-stats > p:hover {
	cursor: pointer;
	font-weight: 300;
}

.question-comments {
	margin: 10px 0 10px 50px;
	border-left: 1px solid teal;
}

.organizer {
	display: flex;
}

#gdg {
	background: url('/assets/images/gdg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#vue{
	background: url('/assets/images/meetup-logo.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#laravel {
	background: url('/assets/images/laravel.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#mocha {
	background: url('/assets/images/mocha.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#forloop {
	background: url('/assets/images/forloop.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.text-light{
	font-weight: lighter;
}

.text-heavy{
	font-weight: bold;
}

i{
 margin-right: 5px; 
 color:grey;
}

.meetup {
	border-radius: 5px;
	width: 375px;
	margin: 30px;
}

.meetup:hover {
	cursor: pointer;
	transition-duration: .6s;
	transition-property: margin-top;
	margin-top: 27px;
}
.question-content > p,.comment-content > p{
	text-align: left;
}
.upcoming-meetups {
	height: max-content;
	border-left: 3px solid teal;
}


.view-more{
	margin: 40px auto;
}

.view-more div{
	padding: 10px;
	width: 200px;
	margin: 10px auto;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 5px 15px;
	border: 1px solid teal;
}
.avatar-profile {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	border: 3px solid white;
	margin-top: -120px;
}

.avatar > p {
	text-align: center;
	color: white;
	font-size: 20px;
	padding: 12px;
}

.avatar-profile > p {
	font-size: 6em;
}


/* User Profile */
.profile-wrapper header {
	height: 200px;
}
.user-stats ul {
	width: 300px;
	margin: auto;
}

.user-stats a:hover {
	color: white;
}

.user-contact-details {
	margin-left: 100px;
}

.sidebar-item {
	margin: 60px auto;
}

.sidebar-item a:hover {
	color: teal;
}


/* Media Queries */
@media only screen and (max-width: 1024px){
	.container {
		max-width: 100%;
		zoom: 2;
	}
	.container-fluid {
		max-width: 100%;
	}

	#registration-form, #login-form {
		width: 100%;
	}
	.sidebar-item {
		margin: 20px auto;
	}
	.meetup-stats {
		margin: inherit;
		height: inherit;
		padding: 10px 4px;
	}

	.list {
		width: max-content;
	}

	.question-feed {
		box-shadow: none;
		background: none;
		margin-top: 0px;
	}

	.question-feed article {
		padding-top: 0;
	}
	.upper-details {
		flex-direction: row;
	}
	.user-contact-details {
		margin-left: 10px;
	}
	.avatar-profile {
		height: 120px;
		width: 120px;
	}
	.avatar-profile > p {
		font-size: 5em;
	} 

	.upcoming-meetups {
		display: none;
	}

	.meetups-list th:nth-child(2), .meetups-list td:nth-child(2), .meetups-list th:nth-child(4), .meetups-list td:nth-child(4)  {
		display: block;
	}
}

@media only screen and (max-width: 992px){
	.container {
		max-width: 100%;
		zoom: 3;
	}

	.container-fluid {
		max-width: 100%;
	}

	.sidebar {
		display: none;
	}

	.meetups-list {
		margin-left: 0px;
	}
	.table {
		width: 100%;
		padding: 5px;
		border-collapse: collapse;
	}
	
	.meetups-list {
		width: 100%;
	}

	.table tr {
		display: flex;
		font-size: 10px;
		justify-content: space-between;
	}
	.meetups-list th:nth-child(2), .meetups-list td:nth-child(2), .meetups-list th:nth-child(4), .meetups-list td:nth-child(4)  {
		display: none;
	}

	.meetups-list td {
		width: max-content;
		height: max-content;
	}

	.search form input[type="search"] {
		width: 29%;
		font-size: 15px;
	}

	.search .form-control {
		margin: 10px auto;
		padding: 4px 10px;
	}

	#registration-form, #login-form {
		width: 100%;
	}

	.form-footer {
		margin-top: -30px;
	}
	.meetup-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.meetup {
		max-width: 100%;
	}

	.meetup-title {
		font-size: 20px;
	}

	.meetup-body {
		max-width: 100%;
	}

	.single-meetup-image {
		width: inherit;
	}

	.upper-details{
		flex-direction: row;
	}

	.questions-list {
		margin-left: -20px;
	}

	.upper-details .question-time, .comment-time {
		margin-top: 5px; 
	}
	
	.question-content > p,.comment-content > p {
		margin-left: -55px;
		margin-top: 30px;
		text-align: left;
	}

	/* Question Comments */
	.question-comments, .single-comment {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.single-comment {
		padding: 0; 
	}

	.question-feed article {
		margin: 20px 2px;
	}

	.new-comment, .new-question {
		margin: 5px 45px;
	}

	#question-form textarea, #comment-form textarea {
		max-width: 100%;
		min-width: 100%;
	}

	.new-question {
		margin: 10px;
	}

}

@media only screen and (max-width: 600px){
	.container {
		max-width: 100%;
		zoom: 3;
	}

	.container-fluid {
		width: 100%;
	}

	#registration-form, #login-form {
		width: 100%;
	}

	.meetup-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.table {
		width: 100%;
		padding: 5px;
		border-collapse: collapse;
	}
	
/* Single Meetup Page */
	.single-meetup {
		display: flex;
		flex-direction: column;
	}

	.single-meetup .wrapper {
		flex-direction: column;	
	}

	.wrapper .register {
		margin: 20px auto;
	}

	.wrapper .register p > a{
		font-size: 20px;
	}

	.wrapper .organizer p{
		font-size: 15px;
		margin: 2px auto;
	}
	.upcoming-meetups {
		display: none;
	}

	.upper-details {
		flex-direction: column;
	}

	.nav-links a {
		font-size: 28px;
		font-weight: lighter;
	}

	/* Profile  */
	.profile-wrapper header {
		height: 100px;
	}
	section.profile-content {
		flex-direction: column;
		margin-top: 20px;
	}

	.user-stats {
		flex-direction: column;
	}

	.user-stats > ul {
		position: absolute;
		margin: 200px auto;
		padding-left: 0;
	}

	.user-stats > p {
		text-align: right;
	}

	.user-contact-details {
		margin-left: inherit;
		margin-top: 5px;
		margin-left: 20px;
	}

	.question-feed {
		margin-top: 40px;
		background: none;
		box-shadow: none;
	}
	.question-title {
		margin-top: 2rem;
	}

	.user-contact-details .avatar-profile {
		height: 100px;
		width: 100px;
	}

	.avatar-profile p {
		font-size: 4em;
		margin: 10px auto;
	}

	.search form input[type="search"] {
		width: 29%;
		font-size: 15px;
	}

	.search .form-control {
		margin: 10px auto;
		padding: 4px 10px;
	}

}
