/* Form specific */
.form {
	max-width: 100%;
	border-top: 8px solid teal;
	border-radius: 8px;
	padding: 20px;
	background: ghostwhite;
}

#registration-form, #login-form {
	width: 480px;
}

#password-reset {
	margin: 126px auto;
}

#password-reset .form-header {
	margin: 20px auto;
}

#question-form textarea, #comment-form textarea{
	min-height: 100px;
	max-width: 700px;
	margin: 10px auto;
	min-width: 400px;
}

#question-form button, #comment-form button{
	width: 100px;
}

.new-comment {
	display: none;
	margin: 5px 125px;
}

.new-question {
	margin: 40px;
}

#registration-form {
	margin: 5px auto;
}

#login-form {
	margin: 70px auto;
}
.form-group {
	margin-bottom: 10px;
}

.form-control {
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 5px;	
	border: 1px solid teal;
	box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
	width: 100%;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
}
.form-header {
	font-weight: bold;
}
.form-header {
	font-size: 20px;
}
.form-footer {
	display: block;
	margin: 5px auto;
	padding: 20px 0;
	font-size: 18px;
}
.form-footer a {
	text-decoration: dashed;
}

.form-footer a:hover {
	text-decoration: underline;
}

.form-footer > span {
	font-weight: normal;
}