/* Media Queries */
@media only screen and (min-width: 1200px) {
	.container {
		width: 100%;
	}
	
	.container-fluid {
		width: 100%;
	}

	#registration-form, #login-form {
		width: 60%;
	}
}

@media only screen and (max-width: 1024px){
	.container {
		max-width: 100%;
		zoom: 2;
	}
	.container-fluid {
		max-width: 100%;
	}

	#registration-form, #login-form {
		width: 100%;
	}
	.sidebar-item {
		margin: 20px auto;
	}
	.meetup-stats {
		margin: inherit;
		height: inherit;
		padding: 10px 4px;
	}

	.list {
		width: max-content;
	}

	.question-feed {
		box-shadow: none;
		background: none;
		margin-top: 0px;
	}

	.question-feed article {
		padding-top: 0;
	}
	.upper-details {
		flex-direction: row;
	}
	.user-contact-details {
		margin-left: 10px;
	}
	.avatar-profile {
		height: 120px;
		width: 120px;
	}
	.avatar-profile > p {
		font-size: 5em;
	} 

	.upcoming-meetups {
		display: none;
	}

	.meetups-list th:nth-child(2), .meetups-list td:nth-child(2), .meetups-list th:nth-child(4), .meetups-list td:nth-child(4)  {
		display: block;
	}
}

@media only screen and (max-width: 992px){
	.container {
		max-width: 100%;
		zoom: 3;
	}

	.container-fluid {
		max-width: 100%;
	}

	.sidebar,.navbar {
		display: none;
	}

	button#nav-toggle {
		display: block;
	}

	.navbar-collapse li {
		padding: 10px 0;
		border-bottom: 2px solid white;
	}
	
	@keyframes slide-down {
		0% { opacity: 0; transform: translateY(-100%); }   
    	100% { opacity: 1; transform: translateY(0); }
	}

	.meetups-list {
		margin-left: 0px;
	}
	.table {
		width: 100%;
		padding: 5px;
		border-collapse: collapse;
	}
	
	.meetups-list {
		width: 100%;
		padding: 20px;
	}

	.table tr {
		display: flex;
		font-size: 10px;
		justify-content: space-between;
	}
	.meetups-list th:nth-child(2), .meetups-list td:nth-child(2), .meetups-list th:nth-child(4), .meetups-list td:nth-child(4)  {
		display: none;
	}

	.meetups-list td {
		width: max-content;
		height: max-content;
	}

	.search form input[type="search"] {
		width: 29%;
		font-size: 15px;
	}

	.search .form-control {
		margin: 10px auto;
		padding: 4px 10px;
	}

	#registration-form, #login-form {
		width: 100%;
	}

	.form-footer {
		margin-top: -30px;
	}
	.meetup-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.meetup {
		max-width: 76%;
		width: 407px;
		margin: 30px auto;
	}

	.meetup-title {
		font-size: 20px;
	}

	.meetup-body {
		max-width: 100%;
	}

	.single-meetup-image {
		width: inherit;
	}

	.upper-details{
		flex-direction: row;
	}

	.questions-list {
		margin-left: -20px;
		text-align-last: left;
	}

	.upper-details .question-time, .comment-time {
		margin-top: 5px; 
	}
	
	.question-content > p,.comment-content > p {
		margin-left: -55px;
		margin-top: 30px;
		text-align: left;
	}

	/* Question Comments */
	.question-comments, .single-comment {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.single-comment {
		padding: 0; 
	}

	.question-feed article {
		margin: 20px 2px;
	}

	.new-comment, .new-question {
		margin: 5px 45px;
	}

	#question-form textarea, #comment-form textarea {
		max-width: 100%;
		min-width: 100%;
	}

	.new-question {
		margin: 10px;
	}
	.meetup-image {
		width: 100%;
	}
}

@media only screen and (max-width: 600px){
	.container {
		max-width: 100%;
		zoom: 3;
	}

	.container-fluid {
		max-width: 100%;
	}

	#registration-form, #login-form {
		width: 100%;
	}

	.meetup-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.table {
		width: 100%;
		padding: 5px;
		border-collapse: collapse;
	}
	
/* Single Meetup Page */
	.single-meetup {
		display: flex;
		flex-direction: column;
	}

	.single-meetup .wrapper {
		flex-direction: column;	
	}

	.wrapper .register {
		margin: 20px auto;
	}

	.wrapper .register p > a{
		font-size: 20px;
	}

	.wrapper .organizer p{
		font-size: 15px;
		margin: 2px auto;
	}
	.upcoming-meetups {
		display: none;
	}

	.upper-details {
		flex-direction: column;
	}

	.nav-links a {
		font-size: 28px;
		font-weight: lighter;
	}

	/* Profile  */
	.profile-wrapper header {
		height: 100px;
	}
	section.profile-content {
		flex-direction: column;
		margin-top: 20px;
	}

	.user-stats {
		flex-direction: column;
	}

	.user-stats > ul {
		position: absolute;
		margin: 200px auto;
		padding-left: 0;
	}

	.user-stats > p {
		text-align: right;
	}

	.user-contact-details {
		margin-left: inherit;
		margin-top: 5px;
		margin-left: 20px;
	}

	.question-feed {
		margin-top: 40px;
		background: none;
		box-shadow: none;
	}
	.question-title {
		margin-top: 2rem;
	}

	.user-contact-details .avatar-profile {
		height: 100px;
		width: 100px;
	}

	.avatar-profile p {
		font-size: 4em;
		margin: 10px auto;
	}

	.search form input[type="search"] {
		width: 29%;
		font-size: 15px;
	}

	.search .form-control {
		margin: 10px auto;
		padding: 4px 10px;
	}
}