/* User Profile */
.profile-wrapper header {
	height: 200px;
}
.user-stats ul {
	width: 300px;
	margin: auto;
}

.user-stats a:hover {
	color: white;
}

.user-contact-details {
	margin-left: 100px;
}

.upper-details {
	flex-direction: row;
}
.user-contact-details {
	margin-left: 10px;
}
.avatar-profile {
	height: 120px;
	width: 120px;
}
.avatar-profile > p {
	font-size: 5em;
}
/* Profile  */
.profile-wrapper header {
	height: 100px;
}
section.profile-content {
	flex-direction: column;
	margin-top: 20px;
}

.user-stats {
	flex-direction: column;
}

.user-stats > ul {
	position: absolute;
	margin: 200px auto;
	padding-left: 0;
}

.user-stats > p {
	text-align: right;
}

.user-contact-details {
	margin-left: inherit;
	margin-top: 5px;
	margin-left: 20px;
}

.question-feed {
	margin-top: 40px;
	background: none;
	box-shadow: none;
}
.question-title {
	margin-top: 2rem;
}

.user-contact-details .avatar-profile {
	height: 100px;
	width: 100px;
}

.avatar-profile p {
	font-size: 4em;
	margin: 10px auto;
}

/*Meetups feed*/
.upcoming-meetups {
	height: max-content;
	border-left: 3px solid teal;
}
