/* Utility Classes */
.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.m-0 {
	margin: 0;
}

.m-4 {
	margin: 4em;
}

.ml-20 {
	margin-left: 20px;
}

.p-0 {
	padding: 0;
}

.p-5 {
	padding: 5px;
}

.p-10 {
	padding: 10px;
}

.p-20 {
	padding: 20px;
}

.p-25 {
	padding: 25px;
}

.p-30 {
	padding: 30px;
}

.mw-10 {
	max-width: 1000px;
}

.mw-5 {
	max-width: 500px;
}

.mt-05 {
	margin-top: 5px !important;
}

.mt-1 {
	margin-top: 10px !important;
}

.mt-2{
	margin-top: 20px !important;
}

.mt-5{
	margin-top: 50px !important;
}

.mt-120 {
	margin-top: 120px !important;
}

.m-20 {
	margin: 20px auto;
}

.p-1 {
	padding: 10px;
}

.pb-2 {
	padding-bottom: 20px;
}

.p-15 {
	padding: 15px;
}

.flex{
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-column {
	flex-direction: column;
}
.space-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}

.bg-black {
	background: #4a4646;
}

.bg-white {
	background: white;
}

.text-black {
	color: black;
}

.text-white {
	color: white;
}

.text-left {
	text-align: left;
}

.text-small {
	font-size: small;
}

.fs-20 {
	font-size: 20px;
}
.h-0 {
	height: 0;
}
.text-center {
	text-align: center;
}

.bg-warning {
	background: orange;
}

.bg-primary {
	background: teal;
}

.br-20 {
	border-radius: 20px;
}

.br-10 {
	border-radius: 10px;
}

.bg-danger {
	background: red;
}

.text-warning {
	color: orange;
}

.text-danger {
	color: red;
}

.text-primary {
	color: teal;
}

.cover-no-repeat {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.no-repeat {
	background-repeat: no-repeat !important;
}
