<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meetups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/app.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/landing-page.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/media-queries.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/utility.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-fluid">
    
    <nav class="navbar" id="navbar-desktop">
      <div class="page-title">
        <h3>Questioner</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="meetups.html">All Meetups</a>
          </li> 
          <li>
            <a href="login.html">Sign in</a>
          </li> 
          <li>
            <a href="register.html">Sign up</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar-collapse" id="navbar-mobile">
      <div>
        <ul class="flex flex-column text-left p-1">
          <li>
            <a href="meetups-list-table.html">Dashboard</a>
          </li>
          <li>
            <a href="meetups.html">Meetups</a>
          </li>
          <li class="mt-1">
            <a href="login.html">Login</a>
            <li class="mt-1">
              <a href="register.html">Sign up</a>
            </li>
        </ul>
      </div>
    </nav>
  <header class="banner mt-0 flex flex-row">
    <div class="view-more flex flex-row banner-buttons space-between">
      <div class="btn-primary shadow">Sign up</div>
    </div>    
  </header>
    <div class="view-more">
      <div class="shadow">Latest Meetups</div>
    </div>
    <div class="meetup-wrapper">
      <a href="meetup.html">
        <div class="meetup shadow pb-2">
          <div class="meetup-image" id="laravel"></div>
          <p class="meetup-title">Laravel Nigeria Meetup</p>
          <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
          <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
        </div>
      </a>

      <a href="meetup.html">
        <div class="meetup shadow pb-2">
          <div class="meetup-image" id="forloop"></div>
          <p class="meetup-title">ForLoop Ilorin</p>
          <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
          <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
        </div>
      </a>

      <a href="meetup.html">
        <div class="meetup shadow pb-2">
          <div class="meetup-image" id="mocha"></div>
          <p class="meetup-title">Mocha Akure</p>
          <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
          <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
        </div>
      </a>

      <a href="meetup.html">
        <div class="meetup shadow pb-2">
          <div class="meetup-image" id="vue"></div>
          <p class="meetup-title">Vue JS Lagos Meetup</p>
          <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
          <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
        </div>
      </a>
    </div>

    <div class="view-more">
    </div>
    <div class="how-to flex-column text-white">
      <div class="how-to-title">How Questioner works</div>
      <div class="how-to-details flex flex-row space-around">
        <p>Find a meetup that catches your fancy</p>
        <p>Sign up and book your place</p>
      </div>
    </div>
    
    <div class="above-footer flex">
      <div class="view-more flex flex-row banner-buttons space-between">
        <div class="btn-primary shadow">Sign up</div>
      </div>    
    </div>
    <footer class="flex text-white">
      <div class="footer-groups flex flex-column">
        <div class="footer-group-title">
        Questioner
        </div>
        <p>About us</p>
        <p>How it works</p>
        <p>Contact us</p>
      </div>
      <div class="footer-groups flex flex-column">
        <div class="footer-group-title">
        Account
        </div>
        <p>Sign up</p>
        <p>Sign in</p>
        <p>Password reset</p>
      </div>
      <div class="footer-groups flex flex-column">
        <div class="footer-group-title">
        Quick Links
        </div>
        <p>All meetups</p>
        <p>Upcoming</p>
        <p>Latest</p>
      </div>
      <!-- <div class="footer-groups flex flex-column">
        <div class="footer-group-title">
        Contact
        </div>
        <p>Contact us</p>
        <p>How it works</p>
        <p>Contact us</p>
      </div> -->
    </footer>
  </div>
<script src="../assets/js/app.js"></script>
</body>
</html>
