<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="../assets/css/app.css">
  <link rel="stylesheet" href="../assets/css/media-queries.css">
</head>
<body>
  <div class="container">
  
  <button class="flex m-10 text-left" type="button" id="nav-toggle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
      <title>Menu</title>
      <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
    </svg>
  </button>
  
  <nav class="navbar-collapse" id="navbar-mobile">
    <div>
      <ul class="flex flex-column text-left p-1">
        <li>
          <a href="meetups-list-table.html">Dashboard</a>
        </li>
        <li class="mt-1">
          <a href="login.html">Login</a>
          <li class="mt-1">
            <a href="register.html">Sign up</a>
          </li>
      </ul>
    </div>
  </nav>
    <div id="login-form" class="shadow">
      <form action="meetups-list-table.html" class="form">
        <p class="form-header">Welcome back! Sign in</p>
        <div class="form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control btn-primary shadow">Sign in</button>
        </div>
      </form>
      <p class="form-footer"><span>New here? </span><a href="register.html" class="form-link">Sign up</a></p>
    <div>
  </div>
<script src="../assets/js/app.js"></script>
</body>
</html>