<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="../assets/css/app.css">
  <link rel="stylesheet" href="../assets/css/form.css">
  <link rel="stylesheet" href="../assets/css/utility.css">
  <link rel="stylesheet" href="../assets/css/media-queries.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar" id="navbar-desktop">
      <div class="page-title">
        <a href="index.html"><h3>Questioner</h3></a>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="register.html"><span class="fa fa-user-plus"></span>Sign up</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">  
    <div class="flex bg-primary flex-row space-between pr-1 nav-mobile-parent text-white">    
      <a href="#" id="nav-toggle" class="no-repeat h-0"></a>
      <div class="m-0 h-0">
        <a href="index.html" class="text-white"><p>Questioner</p></a>
      </div>
      <div class="text-white m-0 h-0">
        <a href="register.html" class="text-white"><p>Sign up</p></a>
      </div>
    </div>
  <nav class="navbar-collapse" id="navbar-mobile">
    <div>
      <ul class="flex flex-column text-left p-1">
        <li class="mt-1">
          <a href="meetups.html"><span class="fa fa-home" style="margin-right:10px;"></span>Meetups</a>
        </li> 
        <li class="mt-1">
          <a href="register.html"><span class="fa fa-user-plus" style="margin-right:10px;"></span>Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
    <div id="login-form" class="shadow">
      <form action="meetups-list-table.html" class="form">
        <p class="form-header">Welcome back! Sign in</p>
        <div class="form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control btn-primary shadow">Sign in</button>
        </div>
      </form>
      <div class="form-footer flex space-around">
        <p><span class="text-light">New here? </span><a href="register.html" class="form-link">Sign up</a></p>
        <p><a href="password-reset.html" class="form-link text-heavy">Forgot password</a></p>
      </div>
    <div>
  </div>
<script src="../assets/js/app.js"></script>
</body>
</html>