<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Questioner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/app.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/utility.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/form.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/media-queries.css"/>
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar" id="navbar-desktop">
      <div class="page-title text-heavy">
        <a href="index.html"><h3>Questioner</h3></a>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="login.html">Sign in</a>
          </li>
          <li>
            <a href="register.html">Register</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="flex bg-primary flex-row space-between pr-1 nav-mobile-parent text-white">    
      <a href="#" id="nav-toggle" class="no-repeat h-0"></a>
      <div class="m-0 h-0">
        <a href="index.html" class="text-white"><p>Questioner</p></a>
      </div>
      <div class="text-white m-0 h-0">
        <a href="login.html" class="text-white"><p>Sign in</p></a>
      </div>
    </div>
    
    <nav class="navbar-collapse" id="navbar-mobile">
          <ul class="flex flex-column text-left p-1">
            <li class="mt-1">
              <a href="login.html"><span class="fa fa-sign-in" style="margin-right:10px;"></span>Login</a>
            </li> 
            <li class="mt-1">
              <a href="register.html"><span class="fa fa-user-plus" style="margin-right:10px;"></span>Sign up</a>
            </li>
          </ul>
      </div>
    </nav>
    <div class="flex flex-row">
      <section class="sidebar card p-20">
        <ul class="m-0 p-0">
          <li class="sidebar-item fs-20"><a href="index.html">Meetups</a></li>
          <li class="sidebar-item fs-20"><a href="new-meetup.html">New Meetup</a></li>
          <li class="sidebar-item fs-20"><a href="#">Users</a></li>
          <li class="sidebar-item fs-20"><a href="user-profile.html">Profile</a></li>
          <li class="sidebar-item fs-20"><a href="login.html">Logout</a></li>
        </ul>
      </section>
      <section class="meetups-list card ml-20">
        <div class="meetup-wrapper">
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="vue"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="mocha"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="laravel"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="forloop"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="gdg"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="vue"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="gdg"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="mocha"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="laravel"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="forloop"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="gdg"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
          <a href="meetup.html">
            <div class="meetup shadow pb-2">
              <div class="meetup-image" id="vue"></div>
              <p class="meetup-title">Vue JS Lagos Meetup</p>
              <p class="meetup-date text-light"><i class="fa fa-calendar"></i>Thursday, December 20, 9:00 AM</p>
              <p class="meetup-location text-light"><i class="fa fa-map-marker"></i>Zone Tech Park, Gbagada, Lagos</p>
              <div class="controls flex space-around">
                <div class="control edit text-primary">Edit</div>
                <div class="control delete text-danger">Delete</div>
              </div>
            </div>
          </a>
      </section>
    </div>
  </div>
  <script src="assets/js/app.js"></script>  
</body>
</html>