<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Questioner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/form.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/utility.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/app.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/media-queries.css"/>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar" id="navbar-desktop">
      <div class="page-title text-heavy">
        <a href="index.html"><h3>Questioner</h3></a>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="login.html">Sign in</a>
          </li>
          <li>
            <a href="register.html">Register</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="flex bg-primary flex-row space-between pr-1 nav-mobile-parent text-white">    
      <a href="#" id="nav-toggle" class="no-repeat h-0"></a>
      <div class="m-0 h-0">
        <a href="index.html" class="text-white"><p>Questioner</p></a>
      </div>
      <div class="text-white m-0 h-0">
        <a href="login.html" class="text-white"><p>Sign in</p></a>
      </div>
    </div>
    
    <nav class="navbar-collapse" id="navbar-mobile">
          <ul class="flex flex-column text-left p-1">
            <li class="mt-1">
              <a href="login.html"><span class="fa fa-sign-in" style="margin-right:10px;"></span>Login</a>
            </li> 
            <li class="mt-1">
              <a href="register.html"><span class="fa fa-user-plus" style="margin-right:10px;"></span>Sign up</a>
            </li>
          </ul>
    </nav>
    <div class="single-meetup">
      <div class="meetup-header">
      <p class="meetup-title">Vue JS Lagos Meetup</p>
        <div class="wrapper">
          <div class="organizer">
            <div class="avatar bg-black"><p>ID</p></div>
            <div class="contact-details">
              <p class="text-light">Organised by <a href="profile.html" class="text-black">Igbominadeveloper</a></p>
              <p class="text-light"><i class="fa fa-phone"></i>+2348135586949</p>
              <p class="text-light"><i class="fa fa-twitter"></i>@igbominadeveloper</p>
            </div>
          </div>
          <div class="register flex">
            <p class="p-1"><a href="#" class="text-heavy p-10 br-20 text-primary">Register</a></p>
            <p class="p-1"><a href="#" class="p-10 br-20 text-warning">Undecided</a></p>
            <p class="p-1"><a href="#" class="p-10 br-20 text-danger">Not Interested</a></p>
          </div>
        </div>
      </div>
      <section class="meetup-body">
        <div class="wrapper">
          <div class="single-meetup-image shadow br-5">
            <img src="assets/images/meetup-logo.png" width="100%" height="100%">
          </div>
          <div class="meetup-stats br-5 flex flex-column center">
            <div class="meetup-date mt-2 flex text-light">
              <i class="fa fa-clock-o"></i> 
              <div class="date">
                <p>Thursday, 20th December 2018</p>
                <p>9:00 AM to 6:00 PM</p>
              </div> 
            </div>
            <div class="meetup-location mt-2 flex text-light">
              <i class="fa fa-map-marker"></i>
              <p>Zone Tech Park, Gbagada, Lagos</p>
            </div>
          </div>
        </div>
        <article class="mt-5 m-20">
          <h3 class="text-heavy">
            Description
          </h3>
          <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorem consequatur autem quae aliquid, laudantium dolor excepturi commodi dolore officiis pariatur id repellendus officia perspiciatis facilis velit tempora provident ducimus. Assumenda illum nisi sunt necessitatibus autem voluptatum maxime! Optio doloremque possimus at corporis itaque maiores assumenda amet reiciendis, a dolore in non, vero voluptas ab voluptatibus laboriosam iure. Eum, non.</p>
        </article>
        <article class="mt-5 meetup-questions m-20">
          <div class="question-title">
            <h3 class="text-heavy">Questions</h3>
          </div>
          <div class="questions-list">

            <div class="question flex p-1 flex-column">
              <div class="question-body flex">
                <div class="avatar bg-black">
                  <p>ID</p>
                </div>

                <div class="question-details">
                  <div class="question-content">
                    <div class="upper-details flex space-between">
                      <p class="question-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                      <p class="text-light question-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                    </div>
                    <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                      praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                  </div>

                  <div class="question-stats flex space-between mt-1">
                    <p class="comment text-light" onclick="toggleComments(event)"><i class="fa fa-reply"></i>2</p>
                    <p class="like text-light upvote" onclick="increaseCount(event)" ><i class="fa fa-thumbs-o-up"></i><span>10</span></p>
                    <p class="dislike text-light" onclick="decreaseCount(event)"><i class="fa fa-thumbs-o-down"></i><span>2</span></p>
                  </div>
                </div>
              </div>

              <div class="question-comments">
                <div class="single-comment flex p-1">
                    <div class="avatar bg-black">
                      <p>ID</p>
                    </div>
                    <div class="comment-details">
                      <div class="comment-content">
                        <div class="upper-details flex space-between">
                          <p class="comment-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                          <p class="text-light comment-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                        </div>
                        <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                          praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                      </div>
                    </div>
                </div>

                <div class="single-comment flex p-1">
                    <div class="avatar bg-black">
                      <p>ID</p>
                    </div>
                    <div class="comment-details">
                      <div class="comment-content">
                        <div class="upper-details flex space-between">
                          <p class="comment-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                          <p class="text-light comment-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                        </div>
                        <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                          praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="new-comment">
                <form action="" id="comment-form" class="flex flex-column">
                  <div class="form-group">
                    <textarea class="form-control" name="comment" id="comment" placeholder="Your comment"></textarea>
                  </div>
                  <button class="btn-primary p-1 shadow">post</button>
                </form>
              </div>
            </div>

            <div class="question flex p-1 flex-column">
              <div class="question-body flex">
                <div class="avatar bg-black">
                  <p>ID</p>
                </div>
                <div class="question-details">
                  <div class="question-content">
                    <div class="upper-details flex space-between">
                      <p class="question-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                      <p class="text-light question-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                    </div>
                    <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                      praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                  </div>
                  <div class="question-stats flex space-between mt-1">
                    <p class="comment text-light" onclick="toggleComments(event)"><i class="fa fa-reply"></i>1</p>
                    <p class="like text-light upvote" onclick="increaseCount(event)" ><i class="fa fa-thumbs-o-up"></i><span>5</span></p>
                    <p class="dislike text-light" onclick="decreaseCount(event)"><i class="fa fa-thumbs-o-down"></i><span>1</span></p>
                  </div>
                </div>
              </div>

              <div class="question-comments">
                <div class="single-comment flex p-1">
                    <div class="avatar bg-black">
                      <p>ID</p>
                    </div>
                    <div class="comment-details">
                      <div class="comment-content">
                        <div class="upper-details flex space-between">
                          <p class="comment-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                          <p class="text-light comment-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                        </div>
                        <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                          praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                      </div>
                    </div>
                </div>
              </div>
                <div class="new-comment">
                  <form action="" id="comment-form" class="flex flex-column">
                    <div class="form-group">
                      <textarea class="form-control" name="comment" id="comment" placeholder="Your comment"></textarea>
                    </div>
                    <button class="btn-primary p-1 shadow">post</button>
                  </form>
                </div>
            </div>

            <div class="question flex p-1 flex-column">
              <div class="question-body flex">
                <div class="avatar bg-black">
                  <p>ID</p>
                </div>
                <div class="question-details">
                  <div class="question-content">
                    <div class="upper-details flex space-between">
                      <p class="question-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                      <p class="text-light question-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                    </div>
                    <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                      praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                  </div>
                  <div class="question-stats flex space-between mt-1">
                    <p class="comment text-light" onclick="toggleComments(event)"><i class="fa fa-reply"></i>2</p>
                    <p class="like text-light upvote" onclick="increaseCount(event)" ><i class="fa fa-thumbs-o-up"></i><span>3</span></p>
                    <p class="dislike text-light" onclick="decreaseCount(event)"><i class="fa fa-thumbs-o-down"></i><span>1</span></p>
                  </div>
                </div>
              </div>

              <div class="question-comments">
                <div class="single-comment flex p-1">
                    <div class="avatar bg-black">
                      <p>ID</p>
                    </div>
                    <div class="comment-details">
                      <div class="comment-content">
                        <div class="upper-details flex space-between">
                          <p class="comment-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                          <p class="text-light comment-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                        </div>
                        <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                          praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                      </div>
                    </div>
                </div>

                <div class="single-comment flex p-1">
                    <div class="avatar bg-black">
                      <p>ID</p>
                    </div>
                    <div class="comment-details">
                      <div class="comment-content">
                        <div class="upper-details flex space-between">
                          <p class="comment-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                          <p class="text-light comment-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                        </div>
                        <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                          praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="new-comment">
                <form action="" id="comment-form" class="flex flex-column">
                  <div class="form-group">
                    <textarea class="form-control" name="comment" id="comment" placeholder="Your comment"></textarea>
                  </div>
                  <button class="btn-primary p-1 shadow">post</button>
                </form>
              </div>
            </div>

            <div class="question flex p-1 flex-column">
              <div class="question-body flex">
                <div class="avatar bg-black">
                  <p>ID</p>
                </div>
                <div class="question-details">
                  <div class="question-content">
                    <div class="upper-details flex space-between">
                      <p class="question-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                      <p class="text-light question-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                    </div>
                    <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                      praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                  </div>
                  <div class="question-stats flex space-between mt-1">
                    <p class="comment text-light" onclick="toggleComments(event)"><i class="fa fa-reply"></i>1</p>
                    <p class="like text-light upvote" onclick="increaseCount(event)" ><i class="fa fa-thumbs-o-up"></i><span>2</spa></p>
                    <p class="dislike text-light" onclick="decreaseCount(event)"><i class="fa fa-thumbs-o-down"></i><span>5</span></p>
                  </div>
                </div>
              </div>

              <div class="question-comments">
                <div class="single-comment flex p-1">
                    <div class="avatar bg-black">
                      <p>ID</p>
                    </div>
                    <div class="comment-details">
                      <div class="comment-content">
                        <div class="upper-details flex space-between">
                          <p class="comment-user"><a href="profile.html" class="text-black">Igbominadeveloper</a></p>
                          <p class="text-light comment-time"><i class="fa fa-clock-o"></i>2 months ago</p>
                        </div>
                        <p class="text-light mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda laborum cumque
                          praesentium impedit obcaecati est eaque consectetur nisi tempore cupiditate?</p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="new-comment">
                <form action="" id="comment-form" class="flex flex-column">
                  <div class="form-group">
                    <textarea class="form-control" name="comment" id="comment" placeholder="Your comment"></textarea>
                  </div>
                  <button class="btn-primary p-1 shadow">post</button>
                </form>
              </div>
            
              <div class="new-question">
                <form action="" id="question-form" class="flex flex-column">
                  <div class="form-group">
                    <textarea class="form-control" name="question" id="question" placeholder="Your Question"></textarea>
                  </div>
                  <button class="btn-primary p-1 shadow">post</button>
                </form>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
    
    <footer>
      <div class="footer-content flex text-white flex-row">
        <div class="logo">
          <div class="footer-groups flex flex-column">
            <div class="footer-group-title">
              Questioner Logo
            </div>
          </div>
        </div>
        <div class="flex flex-row space-between links">
          <div class="footer-groups flex flex-column">
            <div class="footer-group-title">
              Questioner
            </div>
            <a href="#">
              <p>About us</p>
            </a>
            <a href="#">
              <p>How it works</p>
            </a>
            <a href="#">
              <p>Contact us</p>
            </a>
          </div>
          <div class="footer-groups flex flex-column">
            <div class="footer-group-title">
              Account
            </div>
            <a href="register.html">
              <p>Sign up</p>
            </a>
            <a href="login.html">
              <p>Sign in</p>
            </a>
            <a href="password-reset.html">
              <p>Password reset</p>
            </a>
          </div>
          <div class="footer-groups flex flex-column">
            <div class="footer-group-title">
              Quick Links
            </div>
            <a href="meetups.html">
              <p>All meetups</p>
              <a href="#">
                <p>Upcoming</p>
                <a href="#">
                  <p>Latest</p>
          </div>
        </div>
      </div>
      <div class="copyright bg-white p-10">
        <p class="text-center">Made with <i class="fa fa-heart text-danger"></i>by <a href="https://github.com/igbominadeveloper"
            class="github">igbominadeveloper</a></p>
      </div>
    </footer>
  </div>
  <script src="assets/js/app.js"></script>
</body>
</html>