<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meetup | New</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/app.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/form.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/utility.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar" id="navbar-desktop">
      <div class="page-title">
        <h3>Dashboard</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="login.html">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <button class="flex m-10 text-left" type="button" id="nav-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
        <title>Menu</title>
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
      </svg>
    </button>
    
    <nav class="navbar-collapse" id="navbar-mobile">
      <div>
        <ul class="flex flex-column text-left p-1">
          <li>
            <a href="meetups-list-table.html">Dashboard</a>
          </li>
          <li>
            <a href="meetups.html">Meetups</a>
          </li>
          <li>
            <a href="login.html">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="meetup-form card mw-5 m-20 p-25">
      <p class="text-light form-header m-20">Schedule a meetup</p>
      <form action="index.html" id="new-meetup">
        <div class="form-group">
          <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
        </div>

        <div class="form-group">
          <input type="file" class="form-control" name="banner" id="Banner" placeholder="Banner" required>
        </div>
        
        <div class="form-group">
          <input type="text" class="form-control" name="organizer" id="organizer" placeholder="Organizer" required>
        </div>

        <div class="form-group">
          <input type="date" class="form-control" name="date" id="date" placeholder="date" required>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="location" id="location" placeholder="Location" required>
        </div>

        <div class="form-group">
          <textarea name="description" cols="30" rows="10" class="form-control" placeholder="The juicy highlights go here"></textarea>
        </div>
        <button class="btn-primary container-fluid p-10">Schedule</button>
      </form>
    </div>
  </div>
<script src="assets/js/app.js"></script>
</body>
</html>