header.banner {
	height: 400px;
	margin-top: -8px;
	background: url(../images/banner.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	align-items: flex-end;
	opacity: .3;
}

.banner-buttons {
	height: 75px;
	width: 598px;
	z-index: 1;
}
.banner-text {
	margin-top: -25rem;
}
.banner-title, .banner-body {
	font-size: 2rem;
}

.how-to {
	height: 330px;
	background: black;
	font-size: 25px;
}

.how-to-title {
	padding-top: 60px;
	font-size: larger;
}

.how-to-details {
	margin-top: 40px;
}
.above-footer {
	height: 160px;
	background: white;
}