header.banner {
	height: 400px;
	background: white;
	margin-top: -8px;
	background: url(../images/banner.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	align-items: flex-end;
}

.banner-buttons {
	height: 75px;
	width: 598px;
}

.how-to {
	height: 280px;
	background: black;
	font-size: 25px;
}

.how-to-title {
	padding-top: 60px;
}

.how-to-details {
	margin-top: 40px;
}
.above-footer {
	height: 160px;
	background: white;
}

footer {
	background:rgb(240, 240, 240);
	font-size: 20px;
	align-items: center;
  justify-content: space-around;
	text-align: left;
}

div.footer-groups p {
	padding-top: 16px;
}

.footer-group-title {
	padding-top: 10px; 
	color: black;
}

.footer-groups a {
	color: black
}

.footer-groups p {
	font-size: 15px;
}
footer div.links {
	width: 66%;
}
footer div.logo {
	width: 34%;
	text-align: center;
}