header.banner {
	height: 400px;
	background: white;
	margin-top: -8px;
	background: url(../images/banner.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	align-items: flex-end;
}

.banner-buttons {
	height: 75px;
	width: 598px;
}

.how-to {
	height: 280px;
	background: black;
	font-size: 25px;
}

.how-to-title {
	padding-top: 60px;
	font-size: larger;
}

.how-to-details {
	margin-top: 40px;
}
.above-footer {
	height: 160px;
	background: white;
}